body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cadetblue;
    text-align: center;
    color: bisque;
    box-sizing: border-box;
    }

section {
    color: rgb(0, 0, 44);
    background-color: antiquewhite;
    width: 320px;
    border-radius: 1em;
    margin: auto;
    box-shadow: 10px 5px 10px rgb(0, 0, 44);
    }

#labelNumero {
    display: block;
    padding-top: 1em;
    }

textarea {
    margin: 1em;
    min-width: 200px;
    max-width: 200px;   
    }

    